<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home?</title>
</head>
<body>
  <a href="/client/articles/">Show</a>
  <button onclick="myFunction(setSwap)"></button>
<!-- TA's js function idea -->

<script type="text/javascript"></script>
</body>
</html>
